/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url(aboutUs.gif) no-repeat;
    background-size: cover;
    background-position: center;
}



/* Main content styles */
main {
    padding: 20px;
}

.about-us {
    max-width: 800px;
    margin: 0 auto;
}

.about-us h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-us p {
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.team-member {
    margin: 20px;
    text-align: center;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.team-member p {
    color: #666;
}
