 

main {
    font-weight: bold;
    font-size: 20px;
   
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 200px;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="date"],
button {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #540d8d;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
}

th {
    background-color: #007bff; /* Change the background color */
    color: #fff; /* Change the text color */
    border: 1px solid #ddd; /* Add border */
    padding: 5px; /* Add padding */
    text-align: left; /* Align text to the left */
}

td {
    border: 1px solid #ddd; /* Add border */
    padding: 5px; /* Add padding */
}
#weatherData {
    margin-top: 20px;
}

/* Media query for smaller screens 
@media screen and (max-width: 768px) {
    body {
        background-size: contain; /* Adjust size to contain within the container 
    }
}*/
